<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is if condition</h1>
    {% if a > b %}
       {{a}}
    {% endif %}
    <h1>this is if else condition</h1>
    {% if a < b %}
       {{a}}
    {% else %}
       {{b}}
    {% endif %}
    <h1>this is if-elif-else condition</h1>
    {% if a > b %}
       {{a}}
    {% elif b > c %}
       {{b}}
    {% else %}
       {{c}}
    {% endif %}
    <h1>this is nested-if condition</h1>
    {% if a > b %}
       {% if a > c %}
           {{a}}
        {% else %}
           {{c}}
        {% endif %}   
    {% else %}
       {% if b > c %}
           {{b}}
        {% else %}
           {{c}}
        {% endif %}
    {% endif %}        


    
</body>
</html>